<!-- Start deneb_accordion section -->
<section class="deneb_accordion {% if include.section_class %} {{include.section_class}} {% else %} about_v1 {% endif %}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="section_title text-center">
          <h2>{{ page.accordion.heading }}</h2>
          <p>{{ page.accordion.text }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        {% for section in page.accordion.column1 %}
        <div class="accordion_section">
          <h3>{{ section.section }}</h3>
          {% for question in section.questions %}
          <details>
            <summary>{{ question.question }}</summary>
            <span>{{ question.answer | markdownify }}</span>
          </details>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-6 col-sm-12">
        {% for section in page.accordion.column2 %}
        <div class="accordion_section">
          <h3>{{ section.section }}</h3>
          {% for question in section.questions %}
          <details>
            <summary>{{ question.question }}</summary>
            <span>{{ question.answer | markdownify }}</span>
          </details>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- End deneb_accordion section -->