<!-- Start deneb_content section -->
<section class="deneb_content {% if include.section_class %} {{include.section_class}} {% else %} content_v1 {% endif %}">
	<div class="container">
    <h2 class="text-center">{{ page.general_content.heading }}</h2>
		<div class="row align-items-start">
			<div class="col-lg-5">
				<div class="deneb_img_box wow fadeInLeft">
					<img src="{{ page.general_content.image | absolute_url }}" class="img-fluid" alt="">
				</div>
			</div>
			<div class="col-lg-7">
				<div class="deneb_content_box wow fadeInRight">
					{{ page.general_content.text | markdownify }}
					{% if page.general_content.button %}
					<a href="{{ page.general_content.button.link }}" class="deneb_btn" {% if page.general_content.button.new_tab %}target="_blank"{% endif %}>{{ page.general_content.button.name }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_about section -->