<!-- Start footer -->
<footer class="deneb_footer">
	<div class="widget_wrapper" style="background-image: url(/assets/images/footer_bg.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="widget widegt_about mb-md-4 mb-lg-0">
						<div class="widget_title">
							<img src="{{site.site_logo}}" class="img-fluid" alt="{{site.title}}"/>
						</div>
						<p><a href="https://build.fhir.org/ig/HL7/fhir-ipa/" target="_blank">International Patient Access</a> (IPA) is a FHIR implementation guide that attempts to establish a universal/global set of requirements for FHIR servers and apps that nations can use to kickstart the ability for their citizens to access their health information via APIs.</p>
						<ul class="social">
							{% if site.facebook_url %}
							<li><a href="{{site.facebook_url}}" target="__blank"><i class="fab fa-facebook-f"></i></a></li>
							{% endif %}
							{% if site.twitter_url %}
							<li><a href="{{site.twitter_url}}" target="__blank"><i class="fab fa-twitter"></i></a></li>
							{% endif %}
							{% if site.instagram_url %}
							<li><a href="{{site.instagram_url}}" target="__blank"><i class="fab fa-instagram"></i></a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 offset-md-3 offset-lg-5">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4>Essential Links</h4>
						</div>
						<ul>
							<li><a href="/what-is-patient-access">What is Patient Access </a></li>
							<li><a href="/worldwide-adoption">Worldwide Adoption</a></li>
							<li><a href="/faqs">FAQs</a></li>
							<li><a href="/in-the-news">In the News</a></li>
							<li><a href="/empower-patients">Empower Patients</a></li>
							<li><a href="/resources-for-patients">Resources for Patients</a></li>
							<li><a href="/resources-for-decision-makers">Resources for Decision Makers</a></li>
							<li><a href="https://www.hl7.org/legal/privacy.cfm" target="_blank">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright_text">
						<p>{{ site.copyright }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End footer -->