<!-- Start deneb_locations section -->
<section class="deneb_locations_list">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text-center">
          <h2>{{ page.locations_list.heading }}</h2>
          <p class="lead mb-3">{{ page.locations_list.subheading }}</p>
          {{ page.locations_list.description | markdownify }}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 grid-cols">
        <div class="location_item">
          <a href="" target="_blank">
            <p class="font-weight-bold">Issuer name</p>
          </a>
        </div>
        <div class="location_item">
          <a href="" target="_blank">
            <p class="font-weight-bold">Issuer name</p>
          </a>
        </div>
        <div class="location_item">
          <a href="" target="_blank">
            <p class="font-weight-bold">Issuer name</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>