<!-- Start deneb_locations section -->
<section class="deneb_locations_list">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text-center">
          <h2>{{ page.locations_apps.heading }}</h2>
          <p class="lead mb-3">{{ page.locations_apps.subheading }}</p>
          {{ page.locations_apps.description | markdownify }}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 grid-cols">
        {% assign apps = site.data.apps.ipa_app_metadata | sort: 'label' %}
        {% for app in apps %}
        <div class="location_item">
          <a href="{{ app.app_metadata[0].website }}" target="_blank">
            <p class="font-weight-bold">{{ app.app_metadata[0].name }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>