<nav class="main_menu">
  <ul>
    {% for menu in site.data.navigation %}
    <li class="menu-item {% if page.url contains menu.url %} active_link {% endif %}"><a href="{{menu.url}}">{{menu.text}}</a>
      {% if menu.submenu %}
      <ul class="sub-menu">
        {% for submenu_item in menu.submenu %}
        <li class="menu-item"><a href="{{submenu_item.url}}">{{submenu_item.text}}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
    <li class="menu-item"><a href="{{ '/adopt-ipa' | absolute_url }}" class="deneb_btn">Adopt IPA</a></li>
    <li class="menu-item">
      <select name="language_select" class="language_select">
        {% for lang in site.languages %}
        <option value="{% if lang == site.default_lang %}{{ page.url | absolute_url }}{% else %}{{ site.baseurl | absolute_url }}{{ lang }}{{page.url}}{% endif %}" {% if lang == site.active_lang %}selected{% endif %}>{{ site.language_names[lang] }}</option>
        {% endfor %}
      </select>
    </li>
  </ul>
</nav>