.deneb_locations_list {
  .grid-cols {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 2.3rem;

    @media #{$md} {
      .grid-cols {
        display: block;
        columns: 3;
        column-gap: 2rem;
      }
    }
  }
}