// deneb_testimonial
.deneb_testimonial{
	overflow: hidden;
	padding-top: 165px;
	padding-bottom: 165px;
	.container {
		position: relative;
		.quote{
			position: absolute;
			top: 0;
			left: 15%;
			display: block;
			width: 100px;
			height: 100px;
			line-height: 100px;
			text-align: center;
			border-radius: 50%;
			color: $white;
			font-size: 40px;
			background: $theme_color;
		}
	}
	.testimonial_slide{
		max-width: 540px;
		text-align: center;
		margin: auto;
		.single_testimonial{
			position: relative;
			padding-top: 20px;
			.client_info{
				h3{
					font-weight: bold; 
				}
				h5{
					font-size: 18px;
					color: $theme_color;
					font-weight: 400;
				}
				p{
					padding-top: 20px;
				}
			}
		}
		.slick-dots{
			bottom: -50px;
			li{
				width: 15px;
				height: 5px;
				background: #c3c3c3;
				border-radius: 8px;
				button{
					padding: 0;
					width: 15px;
					height: 5px;
				}
			}
			& .slick-active{
				background: $theme_color;
			}
		}
	}
}
.deneb_testimonial{
	.section_title{
		h2{
			position: relative;
			&:after{
			    left: 50px;
			}
		}
	}
}
// testimonial_v1
.testimonial_v1{
	position: relative;
	
}