// Font Family 

$font1: 'Poppins', sans-serif;

$font2: 'Montserrat', sans-serif;

// Colors
$white: #fff;

$text: #494949;

$title: #011A3E;

$link: #006EE5;

$theme_color: #D44501;

$theme_secondary_color: #FE8D26;

// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';